.my-custom-card {
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: inline-block; /* Ensure the card is a flex container */
  flex-direction: column; /* Align items vertically */
  height: 520px; /* Ensure the card takes the full height of its container */
  max-width: 250px; /* Set a max-width for consistency */
}

.my-custom-card .my-custom-img{

  height: 350px; /* Adjust to your desired height */
    object-fit: fill; /* Ensures images cover the container without distortion */
}